<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Skylease Phone Directory</h1>
      <hr />
    </div>
    <!-- 7 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Flight Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Zachary Adams (305-778-1449)</td>
              <td>5508</td>
            </tr>
            <tr>
              <td>Hernan Fuentes (954-849-1958)</td>
              <td>1482</td>
            </tr>
            <tr>
              <td>Alex Espinal (305-510-5909)</td>
              <td>1577</td>
            </tr>
            <tr>
              <td>Armando Gallardo</td>
              <td>1576</td>
            <tr>
              <td>Natali Rico</td>
              <td>1460</td>
            </tr>
            <tr>
              <td>Noelia Sosa</td>
              <td>1139</td>
            </tr>
            <tr>
              <td>Jessica Rivera</td>
              <td>1484</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 6 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">FAA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kenneth Humphries</td>
              <td>336-369-3909</td>
            </tr>
            <tr>
              <td>James Ragsdale</td>
              <td>336-369-3933</td>
            </tr>
            <tr>
              <td>Robert Chapman</td>
              <td>336-369-3934 </td>
            </tr>
            <tr>
              <td>Roger Mason</td>
              <td> 336-369-3955</td>
            </tr>
            <tr>
              <td>Clyde McCullough</td>
              <td>336-369-3971</td>
            </tr>
            <tr>
              <td>Matthew Day</td>
              <td>336-369-3920</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Safety</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Michelle Gonzalez</td>
              <td>1458</td>
            </tr>
            <tr>
              <td>Max Mandret</td>
              <td>1578</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Ground Service/Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alejandro Gonzalez</td>
              <td>1239</td>
            </tr>
            <tr>
              <td>Loadmasters</td>
              <td>1133</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 3 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Human Resources</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jesse Mclaughlin</td>
              <td>1414</td>
            </tr>
            <tr>
              <td>Joseph Fajardo (payroll)</td>
              <td>1416</td>
            </tr>
            <tr>
              <td>Rossana Tabares</td>
              <td>1417</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 3 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">IT Support</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Carlos Ramirez</td>
              <td>2803</td>
            </tr>
            <tr>
              <td>Alejandro Loyola</td>
              <td>2802</td>
            </tr>
            <tr>
              <td>Andy Alfonso</td>
              <td>2805</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 3 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Building Maintenance/Procurement</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Freddy Zuniga</td>
              <td>1587</td>
            </tr>
            <tr>
              <td>Julian Perez</td>
              <td>1581</td>
            </tr>
            <tr>
              <td>Mario Montero</td>
              <td>1575</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 3 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Boeing</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Edwin Moure Negron</td>
              <td>305-202-4557</td>
            </tr>
            <tr>
              <td>Jason Irwin Kyle (scheduling)</td>
              <td>1-800-787-2093</td>
            </tr>
            <tr>
              <td>Jeff Clarke</td>
              <td>850-301-6963</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Security</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Eva Henderson</td>
              <td>1452</td>
            </tr>
            <tr>
              <td>Jose Castillo/Pepe</td>
              <td>1582</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">PanAm</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alex Edrei</td>
              <td>305-874-6000</td>
            </tr>
            <tr>
              <td>Accounting (Soli)</td>
              <td>305-874-6530</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 5 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">System Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SYSOPS (786-252-4183)</td>
              <td>1481</td>
            </tr>
            <tr>
              <td>Jorge Farje</td>
              <td>1179</td>
            </tr>
            <tr>
              <td>Flight Coordinator</td>
              <td>1153</td>
            </tr>
            <tr>
              <td>Vladimir Lam (cell: 786-586-7414)</td>
              <td>1170</td>
            </tr>
            <tr>
              <td>Scheduling (cell: 786-972-2771)</td>
              <td>1487</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 4 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Finance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fernando Canepa</td>
              <td>2136</td>
            </tr>
            <tr>
              <td>Marcos Montesano</td>
              <td>1140</td>
            </tr>
            <tr>
              <td>Roselin Alvarez (payclaim)</td>
              <td>1146</td>
            </tr>
            <tr>
              <td>Carmen Souffront</td>
              <td>1307</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Legal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alejandro Ruiz</td>
              <td>1168</td>
            </tr>
            <tr>
              <td>Heidy Willis</td>
              <td>1169</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Commercial</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ibar Jones</td>
              <td>4304</td>
            </tr>
            <tr>
              <td>Yossane Ohye</td>
              <td>1162</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 1 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">HAZMAT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Russell Hernandez</td>
              <td>1496</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 1 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">South Coast</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Simon Potts</td>
              <td>702 – 606-6457</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 10 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Quality Control</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Douglas Eccles</td>
              <td>1430</td>
            </tr>
            <tr>
              <td>Ricardo Million</td>
              <td>1572</td>
            </tr>
            <tr>
              <td>Ashley Bogaards</td>
              <td>1434</td>
            </tr>
            <tr>
              <td>Yamila Ali</td>
              <td>1439</td>
            </tr>
            <tr>
              <td>Yoanet Noda</td>
              <td>1429</td>
            </tr>
            <tr>
              <td>Danay Gomez</td>
              <td>1433</td>
            </tr>
            <tr>
              <td>John Albert</td>
              <td>1467</td>
            </tr>
            <tr>
              <td>Rafael Armengol</td>
              <td>1440</td>
            </tr>
            <tr>
              <td>Lilian Swope</td>
              <td>1437</td>
            </tr>
            <tr>
              <td>Lionel Thomas</td>
              <td>1436</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- 8 -->
    <div class="col-12 col-md-6">
      <div class="table-responsive">
        <table class="table table-hover table-dark table-bordered  table-sm">
          <thead>
            <tr class="bg-info">
              <th colspan="2" scope="col" class="text-center">Maintenance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ernesto Diaz</td>
              <td>1158</td>
            </tr>
            <tr>
              <td>Jorge Beltran (cell: 786-355-4916)</td>
              <td>1159</td>
            </tr>
            <tr>
              <td>Maintenance Control </td>
              <td>1480</td>
            </tr>
            <tr>
              <td>Maintenance Control 2</td>
              <td>1157</td>
            </tr>
            <tr>
              <td>Line Maintenance</td>
              <td>1560</td>
            </tr>
            <tr>
              <td>Line Maintenance</td>
              <td>1560</td>
            </tr>
            <tr>
              <td>Richard Strehse </td>
              <td>1536 </td>
            </tr>
            <tr>
              <td>Cees de Regt</td>
              <td>1554</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>






  </div>
</div>



<!--<div class="col-12 col-md-6">
  <div class="table-responsive">
    <table class="table table-hover table-dark table-bordered  table-sm">
      <thead>
        <tr class="bg-info">
          <th colspan="2" scope="col" class="text-center">aaa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>aaa</td>
          <td>aaa</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->
