<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" requireAccess="None" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="Llave_super_secreta" value="FUIHAISDHFIDSHFEWNKFGHREIGHRFEWFAWGFHJRTHRDXSFEWF" />
          <environmentVariable name="email" value="acalfonso@skylease.aero" />
          <environmentVariable name="emailPass" value="andycarlos86" />
          <environmentVariable name="root" value="holam" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2147483647" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 0c6b1ef3-d20c-49e5-86c8-84dcc287068a-->